# Database
DATABASE_URL="postgresql://user:password@localhost:5432/damday?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="damday-secret-key-change-in-production-use-openssl-rand-base64-32"
